<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @service_down_title %></title>
  <style type="text/css">
      body { font-family: Trebuchet MS, sans-serif; margin: 0; padding: 0; color: white; background-color: #2d1c5d; }
      h1 { color: #f95710; }
      div.content { margin: 0px auto; padding: 0; max-width: 50em; }
  </style>
</head>
<body>
<div class="content">
  <h1><%= @service_down_title %></h1>
  <p>
    <%= @service_down_message %>
  </p>
</div>
</body>
</html>
